{% extends 'base.html' %}
{% load static %}

{% block content %}
    <body>
      <form method="POST" action="{% url 'estimateapp:detail' pk=target_image.pk%}"
            enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <h2>---Estimate Evaluation---</h2>
         <div>
            <div style="display: inline-block; vertical-align: top;
             border-right: 1px solid black; padding-right: 1rem; text-align: center">
{#                Data {{ target_image.df|safe }}</div>#}
                Data {{ target_image.list_11|safe }}</div>
            <div style="display: inline-block; vertical-align: top;
             padding-top: 1rem; padding-left: 0.5rem;">
                <div class="aaa">
{#                {% for evaluation_1 in  target_image.construction %}#}
                {% for evaluation_1 in  target_image.list_22 %}
                    <p>{{ evaluation_1 }}</p>
                {% endfor %}
                </div>
                <p style="border-top: 1px solid black"></p>
                <p></p>
                <div class="aaa">
{#                {% for evaluation_2 in  target_image.detail %}#}
                {% for evaluation_2 in  target_image.list_33  %}
                    <p>{{ evaluation_2 }}</p>
                {% endfor %}
            </div>
            </div>
        </div>
      </div>
      </form>
    </body>
{% endblock %}


